{% extends "core/base.html" %}
{% load static %}
{% block content %}

{% comment %} 
    The following part is shown if there is no previously uploaded profile in the database. 
{% endcomment %}
{% if profile == None %}
<div class="container emp-profile">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-5">
            <p><b>NOTE: </b>
                <li>Kindly wait! The browser is opening the camera. It might take some time.</li>
                (This screen will disappear after running the first scan)
            </p>
        </div>
    </div>
</div>

{% comment %} 
    This part displays the details of the criminal if found in the records.
{% endcomment %}
{% else %}
<div class="container emp-profile">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="{{ profile.image.url }}" alt="Profile Image" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h3>CRIMINAL IDENTIFIED!!!</h3>
                <br>
                <h4>{{ profile.first_name }} {{ profile.last_name }}</h4>
                <br>
                <h5><u>About</u></h5>
            </div>
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-6"><label>Profile Id</label></div>
                        <div class="col-md-6"><p>{{ profile.id }}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><label>Name</label></div>
                        <div class="col-md-6"><p>{{ profile.first_name }} {{ profile.last_name }}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><label>Age</label></div>
                        <div class="col-md-6"><p>{{ profile.age }}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><label>Gender</label></div>
                        <div class="col-md-6"><p>{{ profile.gender }}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><label>Identification</label></div>
                        <div class="col-md-6"><p>{{ profile.identi }}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><label>Crimes</label></div>
                        <div class="col-md-6"><p>{{ profile.crime }}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><label>Nationality</label></div>
                        <div class="col-md-6"><p>{{ profile.nationality }}</p></div>
                    </div>
                </div>
                <a href="{% url 'home' %}">
                    <input type="button" class="profile-edit-btn btn btn-outline-secondary" value="Back" />
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <a href="{% url 'edit_profile' profile.id %}">
                <input type="button" class="profile-edit-btn btn btn-outline-primary" value="Edit Profile" />
            </a>
        </div>
    </div>
</div>
{% endif %}

<!-- Hidden Field for Last Face -->
<p id="last_face" class="d-none">{{ last_face }}</p>

{% comment %} 
    JS connection: This part checks for the face ID periodically and reloads the page if the ID changes.
{% endcomment %}
<script>
    setInterval(function () {
        var url = 'http://127.0.0.1:8000/ajax/';
        var last_face = document.getElementById('last_face').innerHTML;
        $.ajax({
            url: url,
            success: function (data) {
                if (data != last_face) {
                    location.reload();  // Reload the page if the face ID changes
                }
            }
        })
    }, 3000);  // Check every 3 seconds
</script>

{% endblock content %}
